<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form action="/store_number/" method="POST">
            <div class="form-group">
                <label for="phone_number">Phone No:</label>
                <input type="text" class="form-control" name='phone_number' id="phone_number" aria-describedby="titleHelp"
                    placeholder="Enter Your Phone No">
                <label for="number_plate">Number Plate:</label>
                <input type="text" class="form-control" name='number_plate' id="number_plate" aria-describedby="titleHelp"
                    placeholder="Enter Your vehicle number plate">
            </div>
            <button type="submit" class="btn btn-primary btn-dark">Submit</button>
    </form>

</body>
</html>